* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #2B2D42;
    --color-secondary: #EDF2F4;
    --color-tertiary: #8D99AE;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 2rem;
    margin: 0.5rem;
}

.nav-menu {
    height: 100%;
}

.nav-menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 1.5rem;
}

.nav-link {
    display: block;
    padding: 1rem;
    color: var(--color-secondary);
}

.nav-item:hover {
    background-color: var(--color-tertiary);
}

.hamburger {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 10px;
}

@media only screen and (max-width: 400px) {
    .hamburger {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }
}