* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #2B2D42;
    --color-primary-darker: #151621;
    --color-secondary: #EDF2F4;
    --color-secondary-darker: #CED4D9;
    --color-tertiary: #8D99AE;
    --color-tertiary-darker: #414b5c;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    margin: 2rem 0;
    font-size: 2rem;
}


/* navigation */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    width: 12rem;
}

.nav-menu {
    height: 100%;
}

.nav-menu {
    display: flex;
}

.nav-item {
    font-size: 1.7rem;
    padding: 1rem;
}

.nav-link {
    color: var(--color-secondary);
    display: inline-block;
    padding: 1rem;
    padding-bottom: 0.25rem;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-tertiary);
    transition: width 0.25s ease-out;
}

.nav-link:hover::before {
    width: 100%;
}

.hamburger {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger:hover {
    scale: 1.1;
}

.hamburger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;
    }

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }
}

/* introduction */
.introduction {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }

    .header {
        padding: 2rem 1rem;
    }
}

.portrait {
    width: 12rem;
    margin: 2rem;
}

.portrait {
    transition: all 0.3s;
}

.portrait:hover {
    transform: scale(1.3) rotate(5deg);
}

/* about */
.about {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 3rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .about {
        width: 100%;
        padding: 0 1rem;
    }
}

/* skills */
.skills .section-title {
    display: flex;
    justify-content: center;
}

.skills-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
}

.skill-icon {
    width: 5rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .skills-container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* projects */
.project-image {
    width: 5rem;
}

.projects {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 3rem;
    font-size: 1.2rem;
}

.project {
    border-radius: 0.8rem;
    background-color: var(--color-primary-darker);
    margin: 1rem;
    padding: 1rem;
}

.project-link {
    color: var(--color-secondary);
    background-color: var(--color-tertiary-darker);
    padding: 1rem;
    border-radius: 0.8rem;
}

.project-link:hover {
    text-decoration: underline;
    color: var(--color-tertiary);
    text-decoration-color: var(--color-tertiary);
}

@media only screen and (max-width: 768px) {
    .projects {
        width: 100%;
        padding: 0 1rem;
    }
}

/* contact */
.contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 3rem;
    font-size: 1.2rem;
}

.contact-link {
    padding: 1rem;
}

.contact-icon {
    width: 5rem;
}

.contact-icon:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .contact {
        width: 100%;
        padding: 0 1rem;
    }
}